############################################################## MENU ###########
menu.bullet.position:					right
menu.bullet:						triangle
menu.frame.color:					#c0c0c0
menu.frame:						flat solid
menu.frame.font:					sans-9
menu.frame.justify:					left
menu.frame.textColor:					#000000
menu.hilite.color:					#000080
menu.hilite:						flat solid
menu.hilite.textColor:					#ffffff
menu.itemHeight:					18
menu.title.color:					#808080
menu.title.font:					sans-10:bold
menu.titleHeight:					32
menu.title.justify:					center
menu.title:						Flat
menu.title.textColor:					#c0c0c0

############################################################## TOOLBAR ########
toolbar.bevelWidth: 					1
toolbar.borderColor: 					#444444
toolbar.borderWidth: 					1
toolbar.button.borderColor: 				#A9A5A2
toolbar.button.borderWidth: 				0
toolbar.button.color: 					#444444
toolbar.button: 					flat
toolbar.button.picColor: 				#d0d0d0
toolbar.button.pressed.color: 				#444444
toolbar.button.pressed.picColor: 			#f0f0f0
toolbar.clock.borderColor: 				#A9A5A2
toolbar.clock.borderWidth: 				0
toolbar.clock.color: 					#444444
toolbar.clock: 						flat
toolbar.clock.font: 					sans-9:Bold
toolbar.clock.justify: 					center
toolbar.clock.textColor: 				#d0d0d0
toolbar.color:						#444444
toolbar:						flat
toolbar.height:						24
toolbar.iconbar.empty.color:				#444444
toolbar.iconbar.empty:					flat
toolbar.iconbar.focused.borderColor:			#444444
toolbar.iconbar.focused.borderWidth:			0
toolbar.iconbar.focused.color:				#383838
toolbar.iconbar.focused:				flat solid
toolbar.iconbar.focused.font: 				sans-9
toolbar.iconbar.focused.justify:			center
toolbar.iconbar.focused.textColor:			#f0f0f0
toolbar.iconbar.unfocused.borderColor:			#444444
toolbar.iconbar.unfocused.borderWidth:			0
toolbar.iconbar.unfocused.color:			#444444
toolbar.iconbar.unfocused:				flat solid
toolbar.iconbar.unfocused.font: 			sans-9
toolbar.iconbar.unfocused.justify:			center
toolbar.iconbar.unfocused.textColor:			#909090
toolbar.systray.borderColor:				#A9A5A2
toolbar.systray.borderWidth:				0
toolbar.systray.color: 					#444444
toolbar.systray: 					flat
toolbar.workspace.borderColor: 				#A9A5A2
toolbar.workspace.borderWidth: 				0
toolbar.workspace.color: 				#444444
toolbar.workspace: 					flat
toolbar.workspace.font: 				sans-9:Bold
toolbar.workspace.justify: 				center
toolbar.workspace.textColor: 				#d0d0d0

############################################################## WINDOW #########
window.bevelWidth:					2
window.borderColor:					#808080
window.borderWidth:					2
window.button.focus.color:      			#C0C0C0
window.button.focus.picColor:				#000000
window.button.focus:					Raised Solid
window.button.pressed.color:				#C0C0C0
window.button.pressed.picColor:				#000000
window.button.pressed:					Sunken Solid
window.button.unfocus.color:      			#C0C0C0
window.button.unfocus.picColor:				#000000
window.button.unfocus:					Raised Solid
window.font:						sans-9:bold
window.grip.focus.color:				#c0c0c0
window.grip.focus:					Flat
window.grip.unfocus.color:				#c0c0c0
window.grip.unfocus:					Flat
window.handle.focus.color:				#c0c0c0
window.handle.focus:					Flat
window.handle.unfocus.color:				#c0c0c0
window.handle.unfocus:					Flat
window.handleWidth:					1
window.justify:						Left
window.label.focus:					ParentRelative
window.label.focus.textColor:				#ffffff
window.label.unfocus:					ParentRelative
window.label.unfocus.textColor:				#ffffff
window.title.focus.color:				#ff00ff
window.title.focus.colorTo:				#00ffff
window.title.focus:					Flat Gradient Horizontal Bevel2
window.title.height:					20
window.title.unfocus.color:				#700070
window.title.unfocus.colorTo:				#007070
window.title.unfocus:					Flat Gradient Horizontal Bevel2
window.shade.pixmap: shade.xpm
window.shade.unfocus.pixmap: shade.xpm
window.shade.pressed.pixmap: shadep.xpm
window.unshade.pixmap: unshade.xpm
window.unshade.unfocus.pixmap: unshade.xpm
window.unshade.pressed.pixmap: unshadep.xpm
window.close.pixmap: quit.xpm
window.close.unfocus.pixmap: quit.xpm
window.close.pressed.pixmap: quitp.xpm
window.iconify.pixmap: min.xpm
window.iconify.unfocus.pixmap: min.xpm
window.iconify.pressed.pixmap: minp.xpm
window.maximize.pixmap: max.xpm
window.maximize.unfocus.pixmap: max.xpm
window.maximize.pressed.pixmap: maxp.xpm
window.stick.pixmap: stick.xpm
window.stick.unfocus.pixmap: stick.xpm
window.stick.pressed.pixmap: stickp.xpm
window.stuck.pixmap: stuck.xpm
window.stuck.unfocus.pixmap: stuck.xpm
window.stuck.pressed.pixmap: stuckp.xpm
