*.un~
.vscode
*.swp
.local/share/applications/Sid Meier's Civilization Beyond Earth.desktop
.local/share/applications/Sid Meier's Civilization V.desktop
.local/share/applications/Tropico 5.desktop
.local/share/applications/userapp-Firefox-*.desktop
.local/share/applications/Hotline Miami.desktop
.local/share/applications/Broforce.desktop
.local/share/applications/Worms Reloaded.desktop
.local/share/applications/mimeapps.list
nolink/dwm/pkg/
nolink/dwm/src/dwm-6.1/*
nolink/dwm/src/config.h
*.o
*.tar.xz
*.tar.gz
nolink/sent-git/pkg/
nolink/sent-git/sent-git/
nolink/sent-git/src/sent-git/
.config/Code/User/workspaceStorage/
.vim/.netrwhist
nolink/dmenu/pkg/
nolink/dmenu/src/dmenu-4.6/
nolink/st/pkg/
nolink/st/src/st-0.7/*
nolink/st/src/config.h
.vifm/vifminfo