.vscode/ipch
Vim/.vim/.netrwhist
PGP/.gnupg/trustdb.gpg
PGP/.gnupg/pubring.kbx~
PGP/.gnupg/pubring.kbx
*.bak
mpv/.config/mpv/watch_later
XnView/.config/xnviewmp/Thumb.db
XnView/.config/xnviewmp/XnView.db
fvwm/.fvwm/.FvwmConsole-History
fvwm/.fvwm/cache/*
fvwm/.fvwm/.BGdefault
fvwm/.fvwm/images/background/
weechat/.weechat/logs/
Geeqie/.config/geeqie/marks
Geeqie/.config/geeqie/history
Geeqie/.config/geeqie/timezone21.bin
RawTherapee/.config/RawTherapee/batch/queue.csv
kitty/.local/share/systemd/timers
suckless/schwammerl/schwammerl
