PGP/.gnupg/trustdb.gpg
PGP/.gnupg/pubring.kbx~
PGP/.gnupg/pubring.kbx
*.bak
mpv/watch_later
weechat/logs/
weechat/certs/
Code/Backups
Code/Cache
Code/CachedData
Code/CachedExtensions
Code/GPUCache
Code/Local Storage/leveldb
Code/User/globalStorage
Code/User/workspaceStorage
Code/Cookies
Code/Cookies-journal
Code/machineid
Code/Network Persistent State
Code/rapid_render.json
Code/storage.json
Code/Code Cache
Code/logs
Code/blob_storage
Code/Local Storage
Code/Preferences
PGP/.gnupg/private-keys-v1.d
Code/Workspaces
SSH/.ssh/known_hosts
SSH/.ssh/authorized_keys
SSH/.ssh/id_ed25519
discord
google-chrome
pulse
strawberry
zsh/.zcompdump
pavucontrol.ini
QtProject.conf
nnn/.history
nnn/.lastd
configstore
