[submodule "repos/kiss/repo"]
	path = repos/kiss/repo
	url = https://github.com/kisslinux/repo
[submodule "repos/kiss/community"]
	path = repos/kiss/community
	url = https://github.com/kisslinux/community
