[user]
	email = software@hellauer.bayern
	name = Xaver Hellauer
[core]
	editor = code --wait
[diff]
	    tool = default-difftool
[difftool "default-difftool"]
	    cmd = code --wait --diff $LOCAL $REMOTE
