Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*intensityStyles: false
URxvt*geometry: 86x24
URxvt*scrollBar: false
! URxvt*font: xft:PragmataPro:pixelsize=16
! URxvt*italicFont: xft:PragmataPro:pixelsize=16:italic
! URxvt*boldFont: xft:PragmataPro:pixelsize=16:bold
! URxvt*boldItalicFont: xft:PragmataPro:pixelsize=16:bold:italic
URxvt*font: -sgi-screen-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont: -sgi-screen-bold-r-*-*-14-*-*-*-*-*-*-*
! URxvt*letterSpace: -1.5

URxvt*tintColor:            color
URxvt*fadeColor:            color
URxvt*colorBD:              color
URxvt*colorIT:              color
URxvt*colorUL:              color
URxvt*colorRV:              color
URxvt*underlineColor:       color
URxvt*scrollColor:          #FFFFFF
URxvt*troughColor:          color
URxvt*highlightColor:       #A4CDEF
URxvt*highlightTextColor:   #BBBBBB
URxvt*background:           #1E1E1E
URxvt*foreground:           #BBBBBB
URxvt*cursorColor:          #FFFFFF
URxvt*cursorBlink:			1
URxvt*color0:       		#252526
URxvt*color8:       		#1e1e1e
URxvt*color1:       		#ce9178
URxvt*color9:       		#ceb2a7
URxvt*color2:       		#608b4e
URxvt*color10:      		#758b6c
URxvt*color3:       		#dcdcb2
URxvt*color11:      		#dcdcc4
URxvt*color4:       		#569cd6
URxvt*color12:      		#9cdcfe
URxvt*color5:       		#c586c0
URxvt*color13:      		#c5a5c2
URxvt*color6:       		#4ec9b0
URxvt*color14:      		#8dc9bd
URxvt*color7:       		#adadad
URxvt*color15:      		#fdf6e3
