Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*intensityStyles: false
URxvt*geometry: 86x24
URxvt*scrollBar: false
! URxvt*font: xft:PragmataPro:pixelsize=16
! URxvt*italicFont: xft:PragmataPro:pixelsize=16:italic
! URxvt*boldFont: xft:PragmataPro:pixelsize=16:bold
! URxvt*boldItalicFont: xft:PragmataPro:pixelsize=16:bold:italic
URxvt*font: -sgi-screen-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont: -sgi-screen-bold-r-*-*-14-*-*-*-*-*-*-*
! URxvt*letterSpace: -1.5

*tintColor:          	color
*fadeColor:          	color
*colorBD:            	color
*colorIT:            	color
*colorUL:            	color
*colorRV:            	color
*underlineColor:     	color
*scrollColor:        	#FFFFFF
*troughColor:        	color
*highlightColor:     	#A4CDEF
*highlightTextColor: 	#BBBBBB
*background:         	#1E1E1E
*foreground:         	#BBBBBB
*cursorColor:        	#FFFFFF
*cursorBlink:			1
*color0:       			#252526
*color8:       			#1e1e1e
*color1:       			#ce9178
*color9:       			#ceb2a7
*color2:       			#608b4e
*color10:      			#758b6c
*color3:       			#dcdcb2
*color11:      			#dcdcc4
*color4:       			#569cd6
*color12:      			#9cdcfe
*color5:       			#c586c0
*color13:      			#c5a5c2
*color6:       			#4ec9b0
*color14:      			#8dc9bd
*color7:       			#adadad
*color15:      			#fdf6e3
