$ cat /usr/share/applications/nnn.desktop
[Desktop Entry]
Type=Application
Name=nnn
Comment=Launches the nnn file manager
Icon=utilities-terminal
Terminal=true
Exec=urxvtc -e nnn
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
