[Match]
Name=e*

[Network]
DHCP=true
IPv6AcceptRA=true
IPv6PrivacyExtensions=kernel

[DHCP]
UseDNS=false
UseNTP=false
RouteMetric=5

[IPv6AcceptRA]
UseDNS=false

