[Desktop Entry]
Name=Nnn
GenericName=File Manager
Comment=minimalist file manager
Keywords=shell;prompt;command;commandline;cmd;nnn;
MimeType=inode/directory;
Exec=/usr/bin/alacritty --title Nnn --class Nnn -e nnn -x %u
Icon=file-manager
Type=Application
Categories=FileManager;FileTools;System
StartupNotify=true
X-GNOME-SingleWindow=false
StartupWMClass=Nnn
