[Unit]
Description=Lock X session and deletes all SSH identities using slock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/slock ssh-add -D

[Install]
WantedBy=sleep.target

