[Unit]
Description=Tresorit
After=network.target

[Service]
ExecStart=/home/xha/.local/share/tresorit/tresorit --hidden

[Install]
WantedBy=default.target

