Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

x11-ssh-askpass*font:                   -sgi-screen-medium-r-*-*-13-*-*-*-*-*-*-*
x11-ssh-askpass*background:             #000000
x11-ssh-askpass*foreground:             #ffffff
x11-ssh-askpass.Button*background:      #000000
x11-ssh-askpass.Indicator*foreground:   #ff9900
x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1

URxvt.intensityStyles: true
URxvt*geometry: 86x24
URxvt*scrollBar: false
! URxvt*letterSpace: -1
URxvt*font: -sgi-screen-medium-r-*-*-16-*-*-*-*-*-*-*
URxvt*boldFont: -sgi-screen-bold-r-*-*-16-*-*-*-*-*-*-*
URxvt*internalBorder:  16
URxvt*inheritPixmap: false
URxvt*transparent: false
URxvt*perl-ext-common: selection-to-clipboard
URxvt*visualBell: true

URxvt*cursorBlink: 1

*.background: #1E1E1E
*.color0:     #1E1E1E
*.color1:     #E32791
*.color2:     #30C798
*.color3:     #E3C472
*.color4:     #6769E6
*.color5:     #E59FDF
*.color6:     #81D8D0
*.color7:     #969696
*.color8:     #515151
*.color9:     #E466AD
*.color10:    #6CD1B2
*.color11:    #E4CF98
*.color12:    #9091E6
*.color13:    #E5B6E1
*.color14:    #A2DCD7
*.color15:    #E5E6E6
*.foreground: #E5E6E6

