Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

x11-ssh-askpass*font:                   -sgi-screen-medium-r-*-*-13-*-*-*-*-*-*-*
x11-ssh-askpass*background:             #000000
x11-ssh-askpass*foreground:             #ffffff
x11-ssh-askpass.Button*background:      #000000
x11-ssh-askpass.Indicator*foreground:   #ff9900
x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1

URxvt.intensityStyles: true
URxvt*geometry: 86x24
URxvt*scrollBar: false
URxvt*letterSpace: -1
URxvt*font: -sgi-screen-medium-r-*-*-16-*-*-*-*-*-*-*
URxvt*boldFont: -sgi-screen-bold-r-*-*-16-*-*-*-*-*-*-*
URxvt*internalBorder:  16
URxvt*inheritPixmap: false
URxvt*transparent: false
URxvt*perl-ext-common: selection-to-clipboard
URxvt*visualBell: true

URxvt*cursorBlink: 1

*.foreground:   #4d4d4c
*.background:   #eeeeee
*.cursorColor:  #4d4d4c
!! black
*.color0:       #4d4d4c
*.color8:       #969694
!! red
*.color1:       #d7005f
*.color9:       #d7005f
!! green
*.color2:       #718c00
*.color10:      #718c00
!! yellow
*.color3:       #d75f00
*.color11:      #d75f00
!! blue
*.color4:       #4271ae
*.color12:      #4271ae
!! magenta
*.color5:       #8959a8
*.color13:      #8959a8
!! cyan
*.color6:       #3e999f
*.color14:      #3e999f
!! white
*.color7:       #eeeeee
*.color15:      #f5f5f5
