[Desktop Entry]
Name=Tresorit
GenericName=Tresorit
Comment=Secure file synchronization and sharing
Categories=Utility;Accessory;Internet;
Version=1.0.125.402
Terminal=false
Type=Application
Exec=/home/xha/.local/share/tresorit/tresorit
Icon=/home/xha/.local/share/tresorit/tresorit.png
