[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/home/xha/.local/share/VSCode-linux-x64/bin/code %F
Icon=/home/xha/.local/share/VSCode-linux-x64/resources/app/resources/linux/code.png
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/xha/.local/share/VSCode-linux-x64/bin/code --new-window %F
Icon=/home/xha/.local/share/VSCode-linux-x64/resources/app/resources/linux/code.png
